/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  /* font-family: "Open Sans", sans-serif; */
  font-family: "Inter", sans-serif !important;
  color: #444444;
}

a {
  color: #3498db;
  text-decoration: none;
}

a:hover {
  color: #5faee3;
  text-decoration: none;
}

.dropdown-item {
  width: 50px;
  height: 50px;
  display: block;
}

.dropdown-item a {
  width: 50px;
  height: 50px;
  display: block;
}

.dropdown-item-with-image:hover {
  background-size: 115%;
  transition: background-size 0.25s;
  border-radius: 10px;
}

/* background image for dropdown */
.smart-safety {
  background-image: url("https://goodeva.co.id/public/asset-goodeva-lp/navbar/bg-menu-smart-safety.png");
  background-size: cover;
  background-position: center;
  border-radius: 10px 10px 0 0;
}

.sales-automation {
  background-image: url("https://goodeva.co.id/public/asset-goodeva-lp/navbar/bg-menu-sales-automation.png");
  background-size: cover;
  background-position: center;
}

.digital-growth {
  background-image: url("https://goodeva.co.id/public/asset-goodeva-lp/navbar/bg-menu-digital-growth.png");
  background-size: cover;
  background-position: center;
  border-radius: 0 0 10px 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #3498db;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #57aae1;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  height: 70px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#header .logo h1 {
  font-size: 28px;
  margin: 0;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #384046;
}

#header .logo h1 a,
#header .logo h1 a:hover {
  color: #384046;
  text-decoration: none;
}

#header .logo img {
  max-height: 40px;
}

/*--------------------------------------------------------------
# Header Social Links
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #4f5a62;
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover > a {
  color: #26A7B5;
}

/* dropdown */
/* dropdown product */
.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 0 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #1d1d1d;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

/* dropdown company */
.navbar .dropdown-company ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 0 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.navbar .dropdown ul li {
  min-width: 275px;
  min-height: 65px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  display: block;
}

.navbar .dropdown-company ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 400;
  color: #1d1d1d;
  display: block;
}

.sub-link {
  margin-top: 2px;
  font-size: 12px;
  color: #797979;
  padding-left: 2px;
  text-align: start;
  display: block;
  text-transform: capitalize;
}

.navbar .dropdown-company li:hover {
  background-color: #9898989b;
  transition: 0.25s;
  border-radius: 5px 5px 5px 5px;
}

/* test background color dropdown when hover */
/* .navbar .dropdown li:hover {
  background-color: #9898989b;
  transition: .25s;
  z-index: 99;
  border-radius: 5px 5px 5px 5px; 
} */

.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

.navbar .bahasa {
  padding-left: 20rem;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #384046;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(33, 38, 42, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #384046;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover > a {
  color: #3498db;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover > a {
  color: #3498db;
}

.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero img{
  width: 100%;
  height: 100vh;
  /* background: url("https://goodeva.co.id/public/img/assets/home/slider/goodeva-technology-iot-enterprise.png"); */
  background-size: cover;
  position: relative;
  /* margin-top: 70px; */
  padding: 0;
  color: #fff;
}

.bg-hero {
  width: 100%;
  /* padding-bottom: 70px; */
}

#hero .container {
  z-index: 2;
  position: absolute;
  top: 50%;
  /* top: 8px; */
  left: 50%;
  transform: translate(-5%, -50%);
}

#hero h1 {
  margin: 0 0 29px;
  font-size: 58px;
  font-weight: 600;
  line-height: 64px;
  color: #fff;
  letter-spacing: 3px;
  word-wrap: break-word;
}

#hero .company-name {
  font-size: 18px;
  font-weight: 1;
  letter-spacing: 3px;
  color: #fff;
}

#hero h2 {
  color: #fff;
  margin-bottom: 30px;
  font-size: 19px;
}

#hero .btn-get-started {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 13px;
  display: inline-block;
  padding: 12px 45px;
  border-radius: 30px;
  transition: ease-in-out 0.3s;
  color: #fff;
  background: #26a7b5;
  /* text-transform: uppercase; */
}

#hero .btn-get-started:hover {
  background: #abe1e8;
}

#hero .btn-get-started span {
  font-size: 14px;
  padding-right: 20px;
}

.text-hero {
  right: 0;
  display: flex;
  padding-left: 40rem;
}

@media (max-width: 992px) {
  #hero {
    height: calc(100vh - 70px);
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 30px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}


/*--------------------------------------------------------------
# watch video
--------------------------------------------------------------*/
.watch-video {
  background-color: #192535;
  /* padding: 0; */
}

.watch-video .section-title h2{
  color: #fff;
  font-weight: 700 !important;
  font-size: 40px;
  line-height: 45px;
  letter-spacing: .4px;
  padding-top: 5.6rem !important;
}

.watch-video .section-title p{
  color: #fff;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: .08px;
  padding-right: 20%;
  padding-left: 20%;
  margin-bottom: 0;
}

.watch-video .row img {
  width: 80%;
  margin: auto;
}


/*--------------------------------------------------------------
# What We Do
--------------------------------------------------------------*/
.what-we-do {
  background-color: #fff;
  margin-top: -5rem;
  border-radius: 5rem 5rem 0 0;
  padding-top: 5rem;
}

.what-we-do .icon-box {
  text-align: center;
  padding: 30px 20px;
  transition: all ease-in-out 0.3s;
  background: #fff;
}

.what-we-do .icon-box .icon {
  margin: 0 auto;
  width: 64px;
  height: 64px;
  background: #eaf4fb;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  transition: ease-in-out 0.3s;
}

.what-we-do .icon-box .icon i {
  color: #3498db;
  font-size: 28px;
}

.what-we-do .icon-box h4 {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 24px;
}

.what-we-do .icon-box h4 a {
  color: #384046;
  transition: ease-in-out 0.3s;
}

.what-we-do .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.what-we-do .icon-box:hover {
  border-color: #fff;
  box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
}

.what-we-do .icon-box:hover h4 a,
.what-we-do .icon-box:hover .icon i {
  color: #3498db;
}

/*--------------------------------------------------------------
# product-info
--------------------------------------------------------------*/
/** smart safety */

.product-smart-safety {
  background-color: #F1F5F9;
  margin-top: -8rem;
  border-radius: 5rem 5rem 0 0;
  padding-top: 10rem;
  /* padding: 10px 0; */
  /* padding-bottom: -10rem; */
}

.product-smart-safety .text-container {
  padding-top: 10rem;
  top: 70%;
  left: 70%;
  transform: translate(1.5rem, 8%);
}

.product-smart-safety h3 {
  font-weight: 700;
  font-size: 40px;
  padding-top: 1rem;
  max-width: 50rem;
  height: 81px;
  color: #000;
}

.product-smart-safety p {
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  /* margin-bottom: 0; */
  /* padding: 0 20px; */
  padding-top: 2.5rem;
  max-width: 35rem;
}

.product-smart-safety .product-img {
  width: 200%;
  height: 115vh;
  object-fit: contain;
  margin-left: -7rem;
  margin-top: -10rem;
  margin-bottom: -5rem;
  margin-right: 5rem;
}

.product-smart-safety img {
  width: 50%;
  height: 100px;
  object-fit: contain;
  
}

#product-smart-safety .btn-learn-more {
  background-color: #26A7B5;
  color: #fff;
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 3 !important;
}

#product-smart-safety .btn-learn-more:hover {
  background-color: #4ed8e7;
  color: #fff;
}

/** sales trace  */

.product-sales-trace {
  background-color: #fff;
  /* margin-top: -8rem; */
  /* border-radius: 5rem 5rem 0 0; */
  padding-top: 5rem;
  /* padding-right: 5rem; */
  /* padding: 10px 0; */
  /* padding-bottom: -10rem; */
}

.product-sales-trace .text-container {
  padding-top: 10rem;
  top: 70%;
  left: 70%;
  transform: translate(1.5rem, 8%);
}

.product-sales-trace .text-product {
  padding-top: 5rem;
   /* top: 70%; */
  /* left: 70%; */
  /* transform: translate(1.5rem, 8%); */
}

.product-sales-trace h3 {
  font-weight: 700;
  font-size: 40px;
  padding-top: 1rem;
  max-width: 50rem;
  height: 81px;
  color: #000;
}

.product-sales-trace p {
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  /* margin-bottom: 0; */
  /* padding: 0 20px; */
  padding-top: 2.5rem;
  max-width: 35rem;
}

.product-sales-trace .product-img {
  width: 200%;
  height: 115vh;
  object-fit: contain;
  margin-left: 5.45rem;
  margin-top: -12rem;
  /* margin-bottom: -5rem; */
  /* margin-right: 5rem; */
}

.product-sales-trace img {
  width: 50%;
  height: 100px;
  object-fit: contain;
  
}

#product-sales-trace .btn-learn-more {
  background-color: #26A7B5;
  color: #fff;
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 3 !important;
}

#product-sales-trace .btn-learn-more:hover {
  background-color: #4ed8e7;
  color: #fff;
}

/** goodeva enterprise */

.product-goodeva-enterprise {
  background-color: #F1F5F9;
  /* margin-top: -8rem; */
  /* border-radius: 5rem 5rem 0 0; */
  /* padding-top: 5rem; */
  /* padding: 10px 0; */
  /* padding-bottom: -20rem; */
  height: 30rem;
}

.product-goodeva-enterprise .text-container {
  padding-top: 10rem;
  top: 70%;
  left: 70%;
  transform: translate(1.5rem, 8%);
}


.product-goodeva-enterprise h3 {
  font-weight: 700;
  font-size: 40px;
  padding-top: 1rem;
  max-width: 50rem;
  height: 81px;
  color: #000;
}

.product-goodeva-enterprise p {
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  /* margin-bottom: 0; */
  /* padding: 0 20px; */
  padding-top: 2.5rem;
  max-width: 35rem;
}

.product-goodeva-enterprise .product-img {
  width: 200%;
  height: 115vh;
  object-fit: contain;
  margin-left: -7rem;
  margin-top: -10rem;
  margin-bottom: -5rem;
  margin-right: 5rem;
}

.product-goodeva-enterprise img {
  width: 50%;
  height: 100px;
  object-fit: contain;
  padding-right: 3rem;
}

#product-goodeva-enterprise .btn-learn-more {
  background-color: #26A7B5;
  color: #fff;
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 3 !important;
}

#product-goodeva-enterprise .btn-learn-more:hover {
  background-color: #4ed8e7;
  color: #fff;
}


/** news-section */

#news-section {
  background-color: #f1f5f9;
}

#news-section .nav-underline {
  border: none;
  display: flex;
  justify-content: center;
  z-index: 3 !important;
  position: relative;
  gap: 4.3rem;
}

#news-section .nav-link {
  border: none;
  color: #6c757d; /* Warna teks normal */
  font-weight: bold;
}

#news-section .nav-link:hover {
  border-bottom: 2px solid #26A7B5; /* Warna garis bawah saat hover */
  color: #1d1d1d; 
}

#news-section .nav-link.active {
  border-bottom: 2px solid #26A7B5; /* Warna garis bawah saat aktif */
  color: #1d1d1d; 
}

/* #news-section .card-img-top {
  height: 200px;
  object-fit: cover;
} */

#news-section .card-deck {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
  margin-bottom: 3rem;
}

#news-section .card {
  width: 25rem;
  border-radius: 1rem;
}

#news-section .card .card-img-top {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 1rem;
}

#news-section .card-body {
  position: absolute;
  color: #fff;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  background: #02060973;
  font-size: 12px;
  top: 0;
  border-radius: 1rem;
}

/* #news-section .card img {
  content: "";
  background: rgba(56, 64, 70, 0.7);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
} */

#news-section .card-deck .card-logo {
  max-width: 9rem;
  /* height: 124px; */
  /* object-fit: contain; */
  /* position: absolute; */
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

#news-section .card-deck .card-logo.b20 {
  width: 8rem;
  /* padding-left:-2rem; */
}

#news-section .card-title.asean {
  padding-top: 7.3rem;
}

#news-section .card-title.b20 {
  padding-top: 5rem;
}

#news-section .card-title.lkpp{
  padding-top: 7.3rem;
}

/* #news-section .card-title .card-text {
  padding-top: 9.3rem;
} */

/* #news-section .row {
  --bs-gutter-x: 0;
}

#news-section #card-filters {
  padding: 0;
  margin: 0 0 35px 0;
  list-style: none;
  text-align: center;
  position: relative;
  z-index: 2;
}

#news-section #card-filters li {
  cursor: pointer;
  margin: 0 15px 15px 0;
  display: inline-block;
  padding: 10px 20px;
  font-size: 12px;
  line-height: 20px;
  color: #444444;
  border-radius: 4px;
  text-transform: uppercase;
  background: #fff;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

#news-section #card-filters li:hover,
#news-section #card-filters li.filter-active {
  background: #26A7B5;
  color: #fff;
} */

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio {
  padding: 60px 0;
  background-color: #f1f5f9;
  
}

.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 0 35px 0;
  list-style: none;
  text-align: center;
  position: relative;
  z-index: 2;
}

.portfolio #portfolio-flters li {
  cursor: pointer;
  margin: 0 15px 15px 0;
  display: inline-block;
  padding: 10px 20px;
  font-size: 12px;
  line-height: 20px;
  color: #444444;
  border-radius: 4px;
  text-transform: uppercase;
  background: #fff;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
  background: #3498db;
  color: #fff;
}

.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

.portfolio .portfolio-wrap {
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  transition: 0.3s;
}

.portfolio .portfolio-wrap:hover {
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.16);
}

.portfolio .portfolio-item {
  position: relative;
  height: 360px;
  overflow: hidden;
}

.portfolio .portfolio-item figure {
  background: #000;
  overflow: hidden;
  height: 240px;
  position: relative;
  border-radius: 4px 4px 0 0;
  margin: 0;
}

.portfolio .portfolio-item figure:hover img {
  opacity: 0.4;
  transition: 0.4s;
}

.portfolio .portfolio-item figure .link-preview,
.portfolio .portfolio-item figure .link-details {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  line-height: 0;
  text-align: center;
  width: 36px;
  height: 36px;
  background: #fff;
  border-radius: 50%;
  transition: all 0.2s linear;
  overflow: hidden;
  font-size: 20px;
}

.portfolio .portfolio-item figure .link-preview i,
.portfolio .portfolio-item figure .link-details i {
  color: #384046;
  line-height: 0;
}

.portfolio .portfolio-item figure .link-preview:hover,
.portfolio .portfolio-item figure .link-details:hover {
  background: #3498db;
}

.portfolio .portfolio-item figure .link-preview:hover i,
.portfolio .portfolio-item figure .link-details:hover i {
  color: #fff;
}

.portfolio .portfolio-item figure .link-preview {
  left: calc(50% - 38px);
  top: calc(50% - 18px);
}

.portfolio .portfolio-item figure .link-details {
  right: calc(50% - 38px);
  top: calc(50% - 18px);
}

.portfolio .portfolio-item figure:hover .link-preview {
  opacity: 1;
  left: calc(50% - 44px);
}

.portfolio .portfolio-item figure:hover .link-details {
  opacity: 1;
  right: calc(50% - 44px);
}

.portfolio .portfolio-item .portfolio-info {
  background: #fff;
  text-align: center;
  padding: 30px;
  height: 90px;
  border-radius: 0 0 3px 3px;
}

.portfolio .portfolio-item .portfolio-info h4 {
  font-size: 18px;
  line-height: 1px;
  font-weight: 700;
  margin-bottom: 18px;
  padding-bottom: 0;
}

.portfolio .portfolio-item .portfolio-info h4 a {
  color: #333;
}

.portfolio .portfolio-item .portfolio-info h4 a:hover {
  color: #3498db;
}

.portfolio .portfolio-item .portfolio-info p {
  padding: 0;
  margin: 0;
  color: #b8b8b8;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-details {
  padding-top: 0;
}

.portfolio-details .portfolio-details-slider img {
  width: 100%;
}

.portfolio-details .portfolio-details-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.portfolio-details
  .portfolio-details-slider
  .swiper-pagination
  .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #3498db;
}

.portfolio-details
  .portfolio-details-slider
  .swiper-pagination
  .swiper-pagination-bullet-active {
  background-color: #3498db;
}

.portfolio-details .portfolio-info {
  padding: 30px;
  box-shadow: 0px 0 30px rgba(56, 64, 70, 0.08);
}

.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.portfolio-details .portfolio-info ul li + li {
  margin-top: 10px;
}

.portfolio-details .portfolio-description {
  padding-top: 30px;
}

.portfolio-details .portfolio-description h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.portfolio-details .portfolio-description p {
  padding: 0;
}

/*--------------------------------------------------------------
# portofolio-client
--------------------------------------------------------------*/

#product-goodeva-enterprise,
#portofolio-client,
#client-feedback {
  /* padding: 60px 0; */
  background-color: #f1f5f9;
  color: #000;
}

.section-title h1 {
  font-weight: 700 !important;
}

/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
/* .testimonials .testimonials-carousel,
.testimonials .testimonials-slider {
  overflow: hidden;
}

.testimonials .testimonial-item {
  box-sizing: content-box;
  padding: 30px 30px 0 30px;
  margin: 30px 15px;
  text-align: center;
  min-height: 350px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  background: #fff;
}

.testimonials .testimonial-item .testimonial-img {
  width: 90px;
  border-radius: 50%;
  border: 4px solid #fff;
  margin: 0 auto;
}

.testimonials .testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #111;
}

.testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0;
}

.testimonials .testimonial-item .quote-icon-left,
.testimonials .testimonial-item .quote-icon-right {
  color: #e1f0fa;
  font-size: 26px;
}

.testimonials .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

.testimonials .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}

.testimonials .testimonial-item p {
  font-style: italic;
  margin: 0 auto 15px auto;
}

.testimonials .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.testimonials .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #3498db;
}

.testimonials .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #3498db;
} */

/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
/* .team {
  background-color: #f6f6f6;
}

.team .member {
  text-align: center;
  margin-bottom: 20px;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
  padding: 30px 20px;
  background: #fff;
}

.team .member img {
  max-width: 60%;
  border-radius: 50%;
  margin: 0 0 30px 0;
}

.team .member h4 {
  font-weight: 700;
  margin-bottom: 2px;
  font-size: 18px;
}

.team .member span {
  font-style: italic;
  display: block;
  font-size: 13px;
}

.team .member p {
  padding-top: 10px;
  font-size: 14px;
  font-style: italic;
  color: #aaaaaa;
}

.team .member .social {
  margin-top: 15px;
}

.team .member .social a {
  color: #919191;
  transition: 0.3s;
}

.team .member .social a:hover {
  color: #3498db;
}

.team .member .social i {
  font-size: 18px;
  margin: 0 2px;
} */


/** client-feedback */

#client-feedback {
  background-color: #f1f5f9;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

#client-feedback .client-img img {
  /* padding-top: 5rem; */
  /* top: 70%;
  left: 70%;
  transform: translate(1.5rem, 8%); */
  object-fit: cover;
  width: 62%;
  height: 30rem;
  margin-left: 10rem;
  border-radius: 15px;
}

#client-feedback .text-feedback {
  padding-top: 5rem;
   /* top: 70%; */
  /* left: 70%; */
  /* transform: translate(1.5rem, 8%); */
  padding-left: 10rem;
}

#client-feedback .client-testimoni {
  font-style: italic;
  color: #00000080;
}

#client-feedback h3 {
  font-weight: 700;
  font-size: 40px;
  padding-top: 1rem;
  max-width: 50rem;
  height: 81px;
  color: #000;
}

#client-feedback p {
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  /* margin-bottom: 0; */
  /* padding: 0 20px; */
  padding-top: 2.5rem;
  max-width: 35rem;
}

.client-name {
  font-weight: 700;
  font-size: 22px;
  /* padding-top: 1rem; */
  max-width: 50rem;
  /* height: 81px; */
  color: #000;
  display: block;
}

.client-company {
  font-size: 22px;
}

/* 
#client-feedback .product-img {
  width: 200%;
  height: 115vh;
  object-fit: contain;
  margin-left: 5.45rem;
  margin-top: -12rem; */
  /* margin-bottom: -5rem; */
  /* margin-right: 5rem; */
/* } */



.button-client-feedback {

  display: flex;
  gap: 2rem;
  padding-top: 2.5rem;
}

#client-feedback .btn-learn-more {
  background-color: #26A7B5;
  color: #fff;
  border: none;
  border-radius: 30px;
  padding: 10px 30px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 3 !important;
}

#client-feedback .btn-learn-more:hover {
  background-color: #4ed8e7;
  color: #fff;
}

/** section liputan */

.liputan {
  background-color: #f1f5f9;
}


.liputan .title-liputan h2 {
  font-weight: bold;
  color: #1d1d11;
}
/*
.liputan .row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.liputan .row img {
  margin: 10px;
  padding: 5px 30px;
  width: 150px;
  height: auto;
}
*/

@media (max-width: 768px) {
  .liputan .row img {
    padding: 5px 10px;
    width: 100%;
    height: auto;
  }
} 

/*--------------------------------------------------------------
# get-started section
--------------------------------------------------------------*/

.btn-get-started {
  background-color: #fff;
  color: #1d1d11;
  border: none;
  border-radius: 30px;
  padding: 8px 70px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 3 !important;
}

.btn-get-started:hover {
  background-color: #82e9e1;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

#get-started {
  background-image: url("../img/get-started.png");
  color: #fff;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#get-started .container {
  padding-top: 80px;
  padding-bottom: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  z-index: 9 !important;
  opacity: 5;
  text-align: center;
}

#get-started .container h2 {
  padding-bottom: 2rem;
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  color: #080808;
  font-size: 14px;
  background: #f7fbfe;
}

#footer .footer-top {
  padding: 60px 0 30px 0;
  background: #fff;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact h4 {
  font-size: 22px;
  margin: 0 0 30px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}

#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  color: #1d1d11;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #1d1d11;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #3498db;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #1d1d1d;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #3498db;
}

#footer .footer-newsletter {
  font-size: 15px;
}

#footer .footer-newsletter h4 {
  font-size: 16px;
  font-weight: bold;
  color: #1d1d11;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 4px;
  text-align: left;
  border: 1px solid #b6daf2;
}

#footer .footer-newsletter form input[type="email"] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
}

#footer .footer-newsletter form input[type="submit"] {
  position: absolute;
  top: 0;
  right: -2px;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px 2px 20px;
  background: #3498db;
  color: #fff;
  transition: 0.3s;
  border-radius: 0 4px 4px 0;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#footer .footer-newsletter form input[type="submit"]:hover {
  background: #57aae1;
}

#footer .credits {
  padding-top: 5px;
  font-size: 13px;
  color: #444444;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #3498db;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background: #5faee3;
  color: #fff;
  text-decoration: none;
}


/*? Halaman product salestreace */

/** Hero Section  */
#salestrace-hero {
  background-color: #fff;
  margin-top: -8rem;
  border-radius: 5rem 5rem 0 0;
  padding-top: 10rem;
  font-family: "Inter", sans-serif;
  /* padding: 10px 0; */
  /* padding-bottom: -10rem; */
}

#salestrace-hero .text-container {
  padding-top: 10rem;
  top: 70%;
  left: 70%;
  transform: translate(1.5rem, 8%);
}

#salestrace-hero h2 {
  font-weight: 600;
  font-size: 100px;
  padding-top: 1rem;
  max-width: 50rem;
  height: 81px;
  color: #404040;
  line-height: 121px;
  letter-spacing: -5%;
  margin-bottom: 5rem;
}

#salestrace-hero h3 {
  font-weight: 500;
  font-size: 48px;
  /* padding-top: 1rem; */
  max-width: 50rem;
  height: 30px;
  color: #26A7B5;
  line-height: 58px;
  /* letter-spacing: -5px; */
}

#salestrace-hero p {
  /* font-weight: 400;
  font-size: 20px;
  max-width: 50rem;
  height: 30px;
  color: #404040;
  line-height: 30px;
  letter-spacing: -5%;
  margin-bottom: 5rem; */

  font-size: 22px;
  font-weight: 400;
  color: #404040;
}

#salestrace-hero .bg-hero {
  width: 200%;
  height: 115vh;
  object-fit: contain;
  margin-left: -7rem;
  margin-top: -10rem;
  margin-bottom: -5rem;
  margin-right: 5rem;
}

#salestrace-hero img {
  width: 50%;
  height: 100px;
  object-fit: contain;
  
}

#salestrace-hero .btn-get-started {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 13px;
  display: inline-block;
  padding: 12px 45px;
  border-radius: 30px;
  transition: ease-in-out 0.3s;
  color: #fff;
  background: #26a7b5;
}

#salestrace-hero .btn-get-started:hover {
  background: #abe1e8;
}

#salestrace-hero .btn-get-started span {
  font-size: 14px;
  padding-right: 30px;
}

/** valued client */

.valued-client {
  background-color: #f1f5f9;
}

.valued-client .title-valued-client h2 {
  font-weight: bold;
  color: #1d1d11;
}

.valued-client .row #odeva {
  width: 100%;
  height: auto;
  object-fit: contain;
}

@media (max-width: 768px) {
  .valued-client .row img {
    padding: 5px 10px;
    width: 100%;
    height: auto;
  }
} 

